
.paragraf {
    color: black;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.lista1 {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    justify-content: space-around;
    list-style: none;
    margin:0;
    font-size: 32px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 8px;
    margin: 8px;
    margin-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.lista1 a {
    text-decoration: none;
    display: block;
    padding: 15px;
   
}

 .lista1 a:link {
    color: rgb(255, 255, 255);
 }

 .lista1 a:visited {
    color: darkcyan;
 }


table, th, td {
    border: none;

}

#onama {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 170px;
}

.par1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 60px;
    margin-bottom: 120px;
}
::selection {
    color: white;
    background-color: darkcyan;
}

#teammembers {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.logo1 {
    border-radius: 50%;
    margin-left: 150px;
    width: 350px;
    height: 350px;
    margin-right: 170px;
    margin-bottom: 20px;
}

.logo4 {
    border-radius: 50%;
    margin-left: 80px;
    width: 350px;
    height: 350px;
    margin-right: 170px;
    margin-bottom: 20px;
}

.logo5 {
    border-radius: 50%;
    margin-left: 80px;
    width: 350px;
    height: 350px;
    margin-right: 170px;
    margin-bottom: 20px;
}

.logo6 {
    border-radius: 50%;
    margin-left: 80px;
    width: 350px;
    height: 350px;
    margin-right: 170px;
    margin-bottom: 20px;
}

.logo7 {
    border-radius: 50%;
    margin-left: 80px;
    width: 350px;
    height: 350px;
    margin-right: 120px;
    margin-bottom: 20px;
}

.table2 {
    border: none;
    width: 100%;
    margin-top: 20px;
}

.td1 {
    width: 20%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;

}

.td2 {
    text-align: center;
    width: 20%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}

.td3 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    width: 20%;
}

.td4 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    width: 20%;
}

.td5 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    width: 20%;
}


#contact {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 60px;
}

.para123 {
    font-size: 32px;
    text-align: center;
    margin: 25px;
    margin-bottom: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tablica-kontakt {
    width: 100%;
    text-align: center;
    font-size: 40px;
    background-color: white;
}
   
.td12 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    text-align: center; 
    color: black;
    margin-top: 20px;
}


.td12 a:link{
    color:white;
    background-color: darkcyan;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 9px;
    padding-left: 40px;
    padding-right: 40px;
}

.td12 a:hover{
    color: black;
    text-decoration: none;
}

.thankyou {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    text-align: center;
    margin-top: 60px;
}

.copyright {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 30px;
    opacity: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
}