.Chat {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 700px; 
    
  }
  
 
  .Messages-list {
    padding: 10px 2px;
    max-width: 880px;
    max-height: 520px;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;
    flex-grow: 99;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.824);
  }
  
  .Messages-message {
    display: flex;
    margin-bottom: 5px;
    
  }
  
  .Messages-message.currentMember {
    /*justify-content: flex-end;*/
    flex-direction: row-reverse;
    text-align: right;
    
  }
  
  .Message-content {
    display:inline-block;
   
  }
  
  .currentMember > .Message-content {
    align-items: flex-end;
    
  }
  
  .Messages-message > .avatar {
    height: 15px;
    width: 15px;
    border-radius: 4px;
    display: inline-block;
    margin: 0 10px -10px;
  
  }
  
  .Message-content > .username {
    display: block;
    color: black;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 2px;
  }
  
  .Message-content > .text {
    padding: 8px;
    max-width: 400px;
    margin: 7px;
    margin-right: 30px;
    border-radius: 5px;
    color: white;
    background-color: rgba(90, 86, 86, 0.703);
    display: inline-block;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .currentMember > .Message-content .text {
    background-color: rgba(90, 86, 86, 0.363);
    
  }
  
  .input-btn {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10px;
    border-radius: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5px;
    font-size: 14px;
  }

  .input-btn:hover {
    color: white;
    background-color: rgba(215, 23, 87, 0.929);
  }


  form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  input {
    padding-left: 10px;
    padding-right: 20px;
    margin-right: 20px;
    margin-left: 15px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    flex-grow: 1;
  }
  
  button {
    padding: 5px 10px;
    font-size: 15px;
    background-color: rgba(215, 23, 87, 0.929);
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
  
    
  }