.Chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
    background-image: url(https://img.freepik.com/free-vector/talking-bubble-vector-art-illustration_56104-870.jpg?w=900&t=st=1684432559~exp=1684433159~hmac=ca3c37ea1776940d7977e269cd0ad002e08d11426e0e1f2d969fa1788af10a53);
    background-repeat: no-repeat;  
    background-position: center;
  }
  
  .App-header {
    background-color: lightgrey;
    background-position: center;
    overflow: visible;
    width: 100%;
    text-align: center;
    text-indent: -205px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    
  }
  
  .Messages-list {
    padding: 8px 5px;
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;
    flex-grow: 1;
    overflow: auto;
  }
  
  .header1 {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
  }

  .header2 {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    text-align: center;
    margin-top: 8px;
    padding-top: 8px;
    margin-bottom: -5px;
}

  .nazivSobe{
    color: black;
    font-size: 25px;
    text-indent: -50px;
    margin-bottom: 5px;
  
  }

  .logout-btn{
    color: white;
    text-indent: 1350px;
    padding: 10px;
  
  }

   .logout-btn2 {
    border-radius: 8px;
    padding: 10px;
    font-size: 15px;
   }

  .logout-btn2:hover {
    color: black;
    background-color: darkcyan;
  }
  .Messages-message {
    display: flex;
    margin: 8px;
    
  }
  
  .Messages-message.currentMember {
    /*justify-content: flex-end;*/
    flex-direction: row-reverse;
    text-align: right;
    
  }
  
  .Message-content {
    display:inline-block;
   
  }
  
  .currentMember > .Message-content {
    align-items: flex-end;
    
  }
  
  .Messages-message > .avatar {
    height: 13px;
    width: 13px;
    border-radius: 8px;
    display: inline-block;
    margin: 0 10px -10px;
  
  }
  
  .Message-content > .username {
    display: block;
    color: black;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 2px;
  }
  
  .Message-content > .text {
    padding: 10px;
    max-width: 400px;
    margin: 5px;
    margin-right: 30px;
    border-radius: 8px;
    background-color: darkcyan;
    color: white;
    display: inline-block;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .currentMember > .Message-content .text {
    background-color: rgb(109, 103, 94);
    
  }
  
  .input-btn {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10px;
    border-radius: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 14px;
  }

  .input-btn:hover {
    color: black;
    background-color: darkcyan;
  }


  form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  input {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    font-size: 18px;
    border-radius: 8px;
    border: 3px solid rgb(33, 189, 174);
    flex-grow: 1;
  }
  
  button {
    padding: 5px 10px;
    font-size: 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
  
    
  }