body {
    background-image: url(../pozadina4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
   
}


.login-form {
    display:flex;
    flex-direction:column;
    height: 250px ;
    width: 500px;
    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(1.5px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 35px rgba(8,7,16,0.6);
    padding: 50px 35px;
    transform: translate(50,50);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    margin-top: 20px;
    justify-content:center;
    align-items: center;
    padding: 100px;
}
    

.login-form > * {
    margin-top: 15px;
}


.login-btn {
    margin-bottom: 60px;
    width: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px;
    position: relative;
    text-align: center;
    background-color: rgba(215, 23, 87, 0.929);
    font-size: 18px;
    
}

.login-btn:hover{
    background-color:rgb(243, 145, 178); ;
    color: white;
}

.input-username {
    font-size: 18px;
    background-color: white;
    padding: 10px;
    border: none;
    box-shadow: 0 0 50px rgba(8, 7, 16, 0.37);

}

.input-username::placeholder {
    color: rgba(244, 44, 111, 0.445);
    font-size: 17px;
    text-align: center;
    

}